/* styles.css */

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1C1B1F;
  color: #cdd6f4;
  font-family: monospace;
  font-size: 17px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 25%;
}

@media (min-width: 768px) {
  body {
    margin: 0 auto;
  }
}

/* Header styles */
header {
  background-color: #c3a2ea;
  color: #181825;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 1rem;
}

header img {
  margin: 10px 10px 0 0;
}

header h1 {
  font-size: 2rem;
  margin-left: 10px;
}

@media (max-width: 390px) {
  header {
    justify-content: center;
  }

  header img {
    display: none;
  }
}

/* List styles */
ul {
  list-style: none;
  padding-left: 1rem;
}

ul li::before {
  content: "• ";
}

/* Main styles */
main {
  background-color: #181825;
  padding: 2rem;
  margin: 0 auto;
}

/* Footer styles */
footer {
  background-color: #1e1e2e;
  padding: 1rem;
  text-align: center;
}

/* Container styles */
.primary-container,
.secondary-container,
.tertiary-container,
.donation-container {
  max-width: 1150px;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 15px;
}

.container-header {
  color: #cdd6f4;
  padding: 1rem;
  margin: -1rem -1rem 1rem -1rem;
  font-weight: bold;
  font-size: 1.5em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.primary-container {
  border: 2px solid #94e2d5;
  background-color: rgba(148, 226, 213, 0.1);
}

.container-header#about {
  border-bottom: 2px solid #94e2d5;
  background-color: rgba(148, 226, 213, 0.1);
}

.secondary-container {
  border: 2px solid #b4befe;
  background-color: rgba(180, 190, 254, 0.1);
}

.container-header#projects {
  border-bottom: 2px solid #b4befe;
  background-color: rgba(180, 190, 254, 0.1);
}

.tertiary-container {
  border: 2px solid #f38ba8;
  background-color: rgba(243, 139, 168, 0.1);
}

.container-header#contact {
  border-bottom: 2px solid #f38ba8;
  background-color: rgba(243, 139, 168, 0.1);
}

.donation-container {
  border: 2px solid #cba6f7;
  background-color: rgba(203, 166, 247, 0.1);
}

.container-header#donations {
  border-bottom: 2px solid #cba6f7;
  background-color: rgba(203, 166, 247, 0.1);
}

/* Terminal setup */
.violet { color: #CBA6F7; }
.yellow { color: #F4DDAA; }
.cyan { color: #89DCEA; }
.green { color: #A4E3A1; }

.donation-container pre {
  background-color: #1e1e2e;
  padding: 1rem;
  margin-top: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 15px;
}
